/* app css stylesheet */
.menu {
  text-align: center;
  list-style: none;
  border-bottom: 0.1em solid black;

  padding: 0 0 0.5em;
  background-color: #000000;
}

.menu > li {
  display: inline;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.post {
  border: 1pt solid #888888;
  padding: 1em;
  margin: 1em;
}

.menu button {
  background-color: #000000;
  width: 10em;
  color: #FFFFFF;
  border: none;
  border-radius: 5em;
  padding: .3em 1em;
  margin: .5em;
}

.menu button:focus, .menu .active {
  outline: none;
  color: #1CA4ED;
}
.right {
  float: right;
}
.left {
  float: left;
  display: inline-block;
}
.suggest {
  text-align: center;
  background-image: linear-gradient(to bottom, #6BA1E8 0, #1760BF 100%);
  background-repeat: repeat-x;
  color: #FFFFFF;
  border: none;
  padding: .3em 1em;
  width: 15em;
}

.edit {
  background-image: linear-gradient(to bottom, #6BA1E8 0, #1760BF 100%);
  background-repeat: repeat-x;
  color: #FFFFFF;
  border: none;
  padding: .3em 1em;
  width: 3em;
}

form .edit, form .remove {
  width: auto;
}
.plus {
  color:#15A802;
}
.minus {
  color:#BD2121;
}
.rate {
  background-color: #FFFFFF;
  border: none;
}
.rating {
  text-align: center;
  padding: 1.5em;
}
.rate:focus {
  outline: none;
}
.remove {
  background-image: linear-gradient(to bottom, #E33434 0, #BD2121 100%);
  background-repeat: repeat-x;
  color: #FFFFFF;
  border: none;
  padding: .3em 1em;
  width: 3em;
}

textarea {
  width: 80%;
  height: 15em;
}

button {
  outline: none;
}
.ng-valid.ng-dirty {

}

.ng-invalid.ng-dirty {
  outline: none;
  border: 3px solid #BD2121;
}

form.ng-dirty.ng-invalid {
  border: none;
}